.search-container {
    width: 1296px;
    height: 89px;
    padding: 25px 54px 20px 54px;
    gap: 10px;
    opacity: 1;
    border-radius: 30px;
    background: #101D2F;
}

.cloud-logo {
    position: absolute;
    width: 75px;
    height: 49px;
    flex-shrink: 0;
}

.cloud-logo img {
    width: fit-content;
    height: 100%;
}

.search-elements {
    position: relative;
    display: flex;
    width: 1187px;
    justify-content: space-between;
    align-items: center;
    margin-top: 20px;
    margin-bottom: 20px;
}