.main-app {
    display: flex;
    margin: 15px 0;
}

.app-wrapper {
    display: flex;
    flex-direction: column;
    margin: 0 100px;
    gap: 30px;
}

.app-info {
    display: flex;
    justify-content: space-between;
    align-items: center;
}